.menuBoard {
    height: 90%;
    border: 5px solid;
    border-image-source: linear-gradient(-1deg, #009279,#FFE8EF);
    border-image-slice: 1;
}

.menuContent {
    height: 97%;
    margin: .5rem 0 .5rem 0;
    display: flex;
}

#middleColumn {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}