.menuItem {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

.menuItemBordered {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.menuItemContent {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.menuItemContentHeader {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.menuItemContentHeaderLeft {
    text-align: left;
    width: 80%;
}

.menuItemContentHeaderRight {
    text-align: right;
    width: 20%;
}

.beerName {
    font-weight: bold;
}

.brewerName {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.beerDescription {
    font-size: .75em;
}