.App {
  margin: 1% 4%;
  border: 5px solid;
  border-image-source: linear-gradient(-1deg, #009279,#FFE8EF);
  border-image-slice: 1;
  max-width: 92%;
  max-height: 96%;
  height: 100%;
  width: 100%;
  position: absolute;

}
